<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="wiicapture.gui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <wiicapture.gui.Properties.Settings>
            <setting name="Weight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WIIDeviceIDLeft" serializeAs="String">
                <value>a45c2785eeed</value>
            </setting>
            <setting name="WIIDeviceIDRight" serializeAs="String">
                <value>002444e25ecf</value>
            </setting>
            <setting name="WIIFrequencyHz" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="OutputPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SubjectName" serializeAs="String">
                <value>DefaultSubject</value>
            </setting>
            <setting name="TrialName" serializeAs="String">
                <value>Trial</value>
            </setting>
        </wiicapture.gui.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
